@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body{
    background-image: linear-gradient(to left, rgb(230, 212, 212), rgb(126, 185, 212), rgb(236, 234, 72));
    background-size: 500% 100%;
    animation: degradeAnimado 5s infinite alternate ;
    
}

@keyframes degradeAnimado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;


    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: hwb(187 3% 32%);
    font-family: 'Karla', sans-serif;
}

:root {
    --bgcolor : hwb(187, 3%, 32%);
    --accentcolor: #FFCC00;
}

body {
    background-color: var(--bgcolor);
}

.TESTE {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}
.TESTE img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.TESTE h1 {
    font-size: 2.5rem;
}

.TESTE a {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    transition: all 0.5s linear;
}

.TESTE a:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

@media (min-width: 1024px) {
    .TESTE {
        width: 40vw;
    }
}
